[Desktop Entry]
Type=Application
Name=Sylvania Launcher
GenericName=WoW Launcher
Comment=Launcher World of Warcraft 3.3.5 - Sylvania Server
Exec=SylvaniaLauncher
Icon=sylvania-launcher
Categories=Game;
Terminal=false
StartupWMClass=SylvaniaLauncher
Keywords=WoW;World of Warcraft;Sylvania;Launcher;MMORPG;
